@model IEnumerable<MedicalOffice.Models.MedicalTrial>

@{
    ViewData["Title"] = "Medical Trial Index";
}

<h2>Medical Trial Index</h2>

<p>
    <a asp-action="Create">Create New Trial</a>
</p>
<table class="table">
    <colgroup>
        <col width="800" />
        <col />
    </colgroup>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrialName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrialName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
